.page {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.header-left {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header-left img {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 20px;
}
.header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.social-title {
  font-size: 16px;
  font-weight: bold;
}
.social-link-github {
  font-size: 14px;
  font-weight: 400px;
}

/*--------------------------------------------------------*/
.main {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.history {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8f8f3;
}
.history-list {
  padding: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
}
/*가상요소 선*/
.history-list::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 90%;
  height: 1px;
  background-color: #d9d9d9;
  transform: translateX(-50%);
}
.history-title {
  font-size: 16px;
  font-weight: bold;
}
.history-title-item {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

/*----------------------------------------------------------------------------*/
.resume-profile-title {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.major {
  font-size: 14px;
  font-weight: 500px;
  padding-top: 10px;
}
.resume-profile-subtitle {
  font-size: 14px;
  font-weight: 500px;
  padding-top: 10px;
}
.resume-title-text {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400px;
}

/*--------------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400px;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #d9d9d9;
}

/*---------------------------태블릿---------------------------------------------*/
@media (min-width: 768px) {
  .page {
    padding: 40px;
  }
  .header-left {
    width: 90px;
  }
  .social-title {
    font-size: 18px;
    font-weight: bold;
  }
  .social-link-github {
    font-size: 16px;
    font-weight: 400px;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .history {
    display: grid;
    grid-template-columns: 1fr;
  }
  .history-title {
    font-size: 18px;
  }
  .history-title-item {
    padding-top: 5px;
    font-size: 16px;
  }
  .history-list:last-child::after {
    display: none;
  }
  .resume-profile-title {
    font-size: 18px;
  }
  .major {
    font-size: 16px;
    padding-top: 15px;
  }
  .resume-profile-subtitle {
    font-size: 16px;
    padding-top: 15px;
  }
  .resume-title-text {
    padding-top: 10px;
    font-size: 16px;
  }
  .footer {
    font-size: 16px;
  }
  .footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: calc(100% + 80px);
    height: 1px;
    background-color: #d9d9d9;
  }
}

/*---------------------------PC---------------------------------------------*/
@media (min-width: 1024px) {
  .page {
    padding: 60px 0px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .social-title {
    font-size: 24px;
  }
  .social-link-github {
    font-size: 20px;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    gap: 40px;
  }

  .history {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .history-list {
    padding: 20px;
  }
  /*가상요소 선*/
  .history-list:last-child::after {
    display: block;
  }
  .history-list::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: 90%;
    height: 1px;
    background-color: #d9d9d9;
    transform: translateX(-50%);
  }
  .history-title {
    font-size: 24px;
  }
  .history-title-item {
    font-size: 20px;
  }
  .resume {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 30px;
  }

  .resume-profile {
    padding: 0;
  }
  .resume-profile-title {
    font-size: 24px;
  }
  .major {
    font-size: 20px;
  }
  .resume-profile-subtitle {
    font-size: 20px;
  }
  .resume-title-text {
    padding-top: 15px;
    font-size: 20px;
  }
  .experience {
    display: flex;
    flex-direction: column;
  }
  .resume-profile-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .footer::after {
    content: none;
  }
  .footer {
    border-top: 1px solid #d9d9d9;
    width: 100%;
  }
  .footer-item {
    max-width: 1440px;
    display: flex;
    justify-content: center;
  }
}
