.page {
  margin: 0auto;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.header-left {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header-left img {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 20px;
}
.header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.social-title {
  font-size: 16px;
  font-weight: bold;
}
.social-link-github {
  font-size: 14px;
  font-weight: 400px;
}

/*--------------------------------------------------------*/
.main {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.history {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8f8f3;
}
.history-list {
  padding: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
}
/*가상요소 선*/
.history-list::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 90%;
  height: 1px;
  background-color: #d9d9d9;
  transform: translateX(-50%);
}
.history-title {
  font-size: 16px;
  font-weight: bold;
}
.history-title-item {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

/*----------------------------------------------------------------------------*/
.resume-profile-title {
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
.aboutme {
  display: inline-block;
  padding-bottom: 2px;
  position: relative;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/*aboutme 강조 선*/
.aboutme::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-bottom: 1px solid#000;
}
.practice {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.practice-btn {
  padding: 0 6px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8fbbc;
  border-radius: 10px;
  border: none;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
/* 버튼 터치 */
.practice-btn:active {
  transform: scale(1.05);
}
.major {
  font-size: 14px;
  font-weight: 500px;
  padding-top: 10px;
}
.resume-profile-subtitle {
  font-size: 14px;
  font-weight: 500px;
  padding-top: 10px;
}
.resume-title-text {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400px;
}

/*--------------------------------------------------------------------------*/
.strength-heading {
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
.strength-paragraph {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400px;
}

/*--------------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400px;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #d9d9d9;
}
.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}
.overlay-content {
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay:target {
  display: flex;
}
.close-btn {
  position: absolute;
  top: -50px;
  right: 10px;
  font-size: 35px;
}
.overlay-img {
  width: 80vw;
  max-width: 100%;
  height: auto;
}
/*---------------------------태블릿---------------------------------------------*/
@media (min-width: 768px) {
  .page {
    padding: 40px;
  }
  .header-left {
    width: 90px;
  }
  .social-title {
    font-size: 18px;
    font-weight: bold;
  }
  .social-link-github {
    font-size: 16px;
    font-weight: 400px;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .history {
    display: grid;
    grid-template-columns: 1fr;
  }
  .history-title {
    font-size: 18px;
  }
  .history-title-item {
    padding-top: 5px;
    font-size: 16px;
  }
  .history-list:last-child::after {
    display: none;
  }
  .aboutme {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  .resume-profile-title {
    font-size: 18px;
  }
  .practice-btn {
    font-size: 14px;
  }
  .major {
    font-size: 16px;
    padding-top: 15px;
  }
  .resume-profile-subtitle {
    font-size: 16px;
    padding-top: 15px;
  }
  .resume-title-text {
    padding-top: 10px;
    font-size: 16px;
  }
  .strength {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-column: 1 / -1;
  }
  .strength-heading {
    padding-top: 15px;
    font-size: 18px;
  }
  .strength-paragraph {
    font-size: 16px;
  }

  .footer {
    font-size: 16px;
  }
  .footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: calc(100% + 80px);
    height: 1px;
    background-color: #d9d9d9;
  }
  .close-btn {
    top: -80px;
  }
}

/*---------------------------PC---------------------------------------------*/
@media (min-width: 1024px) {
  .page {
    padding: 60px 0px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .social-title {
    font-size: 24px;
  }
  .social-link-github {
    font-size: 20px;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 1fr;
    gap: 40px;
  }

  .history {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .history-list {
    padding: 20px;
  }
  /*가상요소 선*/
  .history-list:last-child::after {
    display: block;
  }
  .history-list::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: 90%;
    height: 1px;
    background-color: #d9d9d9;
    transform: translateX(-50%);
  }
  .history-title {
    font-size: 24px;
  }
  .history-title-item {
    font-size: 20px;
  }
  .resume {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 30px;
  }
  .aboutme {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  }
  .resume-profile {
    padding: 0;
  }
  .resume-profile-title {
    font-size: 20px;
  }
  .aboutme::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-bottom: 2px solid#000;
  }
  .major {
    font-size: 20px;
  }
  .practice-btn {
    font-size: 20px;
    box-shadow: none;
    transform: scale(1) translateY(0);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }
  /* 버튼 터치 */
  .practice-btn:active {
    transform: none;
  }
  .practice-btn:hover {
    transform: scale(1.05) translateY(-4px);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    background-color: #a6f3a2;
  }
  .resume-profile-subtitle {
    font-size: 20px;
  }
  .resume-title-text {
    padding-top: 15px;
    font-size: 20px;
  }
  .experience {
    display: flex;
    flex-direction: column;
  }
  .resume-profile-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .strength {
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    gap: 30px;
  }
  .strength-heading {
    font-size: 24px;
  }
  .strength-paragraph {
    padding-top: 15px;
    font-size: 20px;
  }
  .footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
  }
  .footer-item {
    max-width: 1440px;
    display: flex;
    justify-content: center;
  }
  .close-btn {
    top: -100px;
  }
}
