.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.header-left {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header-left img {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 20px;
}
.header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.social-title {
  font-size: 16px;
  font-weight: bold;
}
.social-link-github {
  font-size: 14px;
  font-weight: 400px;
}

/*--------------------------------------------------------*/
.main {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.history {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8f8f3;
}
.history-list {
  padding: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
}
/*가상요소 선*/
.history-list::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 90%;
  height: 1px;
  background-color: #d9d9d9;
  transform: translateX(-50%);
}
.history-title {
  font-size: 16px;
  font-weight: bold;
}
.history-title-item {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

/*----------------------------------------------------------------------------*/
.resume-profile-title {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.resume-profile-subtitle {
  font-size: 14px;
  font-weight: 500px;
  padding-top: 10px;
}
.resume-title-text {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400px;
}

/*--------------------------------------------------------------------------*/
.footer {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400px;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

/*---------------------------태블릿---------------------------------------------*/
@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .history {
    display: grid;
    grid-template-columns: 1fr;
  }
}
